@charset "UTF-8";
/*donde aparecerán los resets, las variables, los mixins*/
/*Variables*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
.no-gutters {
  padding-left: 0 !important;
  padding-right: 0     !important; }

a:link, a:visited, a:active {
  text-decoration: none !important; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important; }

/*--------------------------------------------------------------
# Barra de navegacion
--------------------------------------------------------------*/
nav .logo {
  width: 100px; }
  nav .logo ul li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #276955; }

nav ul li a:hover {
  background: #41A58D !important;
  color: white !important;
  border-radius: 10px; }

.navbar-social {
  padding-top: 16px; }
  .navbar-social a:hover {
    color: #41A58D; }

a {
  color: #276955; }

